{% comment %} Love&Co Theme {% endcomment %}
{%- comment -%}
    Description:
    Snippet for displaying breadcrumbs

    Variables:
    first_text: String, first breadcrumb text.
    first_url: String, first breadcrumb url.
    bg_color: String, the wrapper background color
{%- endcomment -%}

<style>
    .breadcrumb .bc-item {
        line-height: 0;
    }
    .breadcrumb .bc-item:last-child {
        line-height: 1;
    }
    .breadcrumb .bc-item.text {
        white-space: nowrap;
    }
    .breadcrumb .bc-item.text.last {
        white-space: nowrap;
        overflow: hidden; 
        -o-text-overflow: ellipsis; 
            text-overflow: ellipsis;
    }
    .breadcrumb .bc-item.separator {
        width: 5px;
        height: 5px;
    }
    .breadcrumb .bc-item.separator svg path {
        fill: var(--grey);
    }
    .breadcrumb a {
        opacity: 0.5;
    }
</style>
<div class="breadcrumb-wrapper">
    {%- if blocks.size > 0 -%}
        <nav class="breadcrumb flex ai-center" role="navigation" aria-label="breadcrumbs">
            {%- for block in blocks -%}
                {%- if forloop.index > 1 -%}
                    <span class="bc-item separator flex jc-center ai-center {{ class_color }} mr-10 p4" aria-hidden="true">
                        /
                    </span>
                {%- endif -%}
                <span class="bc-item text mr-10">
                    <a href="{{ block.settings.url }}" title="{{ block.settings.text }}" class="{{ class_color }} p4 {% if forloop.last %}last{% endif %}">{{ block.settings.text }}</a>
                </span>
            {%- endfor -%}
        </nav>
    {%- else -%}
        {% if first_text == blank %}
            {% assign first_text = 'Home' %}
        {% endif %}
        {% if first_url == blank %}
            {% assign first_url = '/' %}
        {% endif %}

        <nav class="breadcrumb flex ai-center" role="navigation" aria-label="breadcrumbs">
            {%- unless template contains 'product' -%}
                <span class="bc-item text mr-10">
                    <a href="{{ first_url }}" title="Home" class="{{ class_color }} p4">{{ first_text }}</a>
                </span>
            {%- endunless -%}

            {%- if template contains 'page' -%}
                <span class="bc-item separator flex jc-center ai-center {{ class_color }} mr-10 p4" aria-hidden="true">
                    &gt;
                </span>
                <span class="bc-item text last {{ class_color }} p4">
                    {{ page.title }}
                </span>
            {%- elsif template contains 'product' -%}
                {%- comment -%} Get category: tag {%- endcomment -%}
                {%- assign tag_value = "" -%}

                {%- for tag in product.tags -%}
                    {%- if tag contains 'category:' -%}
                        {%- assign tag_value = tag | replace: 'category:', '' -%}

                        {%- break -%}
                    {%- endif -%}
                {%- endfor -%}

                {%- if tag_value != blank -%}
                    <div class="show-m-flex ai-center width-100">
                        <span class="bc-item text mr-10">
                            <a href="/collections/{{ tag_value | handleize }}" title="{{ tag_value }}" class="{{ class_color }} p4">{{ tag_value }}</a>
                        </span>

                        <span class="bc-item separator flex jc-center ai-center {{ class_color }} mr-10 p4" aria-hidden="true">
                            &gt;
                        </span>
                        <span class="bc-item text last {{ class_color }} p4">
                            {{ product.title }}
                        </span>
                    </div>
                {%- else -%}
                    <div class="show-m-flex ai-center width-100">
                        <span class="bc-item text mr-10">
                            <a href="{{ first_url }}" title="Home" class="{{ class_color }} p4">{{ first_text }}</a>
                        </span>
                        
                        {%- if collection.url -%}
                            <span class="bc-item separator flex jc-center ai-center {{ class_color }} mr-10 p4" aria-hidden="true">
                                &gt;
                            </span>
                            <span class="bc-item text {{ class_color }} p4 mr-10">
                                <a href="{{ collection.url }}" title="{{ collection.title }}" class="c-comfort-orange p2">{{ collection.title }}</a>
                            </span>
                        {%- endif -%}
                        <span class="bc-item separator flex jc-center ai-center {{ class_color }} mr-10 p4" aria-hidden="true">
                            &gt;
                        </span>
                        <span class="bc-item text last {{ class_color }} p4">
                            {{ product.title }}
                        </span>
                    </div>
                {%- endif -%}
            {%- elsif template contains 'collection' and collection.handle -%}
                <span class="bc-item separator flex jc-center ai-center {{ class_color }} mr-10 p4" aria-hidden="true">
                    &gt;
                </span>
                {%- if current_tags -%}
                    {%- capture url -%}/collections/{{ collection.handle }}{%- endcapture -%}
                    {{ collection.title | link_to: url }}
                    <span class="bc-item separator flex jc-center ai-center {{ class_color }} mr-10 p4" aria-hidden="true">
                        &gt;
                    </span>
                    <span class="bc-item text {{ class_color }} p4 mr-10">
                        {{ current_tags | join: " + " }}
                    </span>
                {%- else -%}
                    <span class="bc-item text last {{ class_color }} p4">
                        {{ collection.title }}
                    </span>
                {%- endif -%}
            {%- elsif template == 'blog' -%}
                <span class="bc-item separator flex jc-center ai-center {{ class_color }} mr-10 p4" aria-hidden="true">
                    &gt;
                </span>
                {%- if current_tags -%}
                    {{ blog.title | link_to: blog.url }}
                    <span class="bc-item separator flex jc-center ai-center {{ class_color }} mr-10 p4" aria-hidden="true">
                        &gt;
                    </span>
                    <span class="bc-item text {{ class_color }} p4 mr-10">
                        {{ current_tags | join: " + " }}
                    </span>
                {%- else -%}
                    <span class="bc-item text last {{ class_color }} p4">
                        {{ blog.title }}
                    </span>
                {%- endif -%}
            {%- elsif template == 'article' -%}
                <span class="bc-item separator flex jc-center ai-center {{ class_color }} mr-10 p4" aria-hidden="true">
                    &gt;
                </span>
                <span class="bc-item text {{ class_color }} p4 mr-10">
                    {{ blog.title | link_to: blog.url }}
                </span>
                {% comment %}
                    <span class="bc-item separator flex jc-center ai-center {{ class_color }} mr-10 p4" aria-hidden="true">
                        &gt;
                    </span>
                    <span class="bc-item text last {{ class_color }} p4">
                        {{ article.title }}
                    </span>
                {% endcomment %}
            {%- elsif template == 'cart' -%}
                <span class="bc-item separator flex jc-center ai-center {{ class_color }} mr-10 p4" aria-hidden="true">
                    &gt;
                </span>
                <span class="bc-item text last {{ class_color }} p4">
                    Cart
                </span>
            {%- else -%}
                <span class="bc-item separator flex jc-center ai-center {{ class_color }} mr-10 p4" aria-hidden="true">
                    &gt;
                </span>
                <span class="bc-item text last {{ class_color }} p4">
                    {{ page_title }}
                </span>
            {%- endif -%}
        </nav>
    {%- endif -%} 
</div>