{% comment %} Calecim {% endcomment %}
<style>
    #product-tabbed-details .cta-image-text .flex-wrapper{
        flex-direction: row;
    }
    #product-tabbed-details .cta-image-text .image-container{
        width:100%;
    }
    #product-tabbed-details .cta-image-text .text-container{
        width:100%;
        padding-left: 0;
        padding-right: 0;
        max-width: 480px;
        margin:0 auto;
        padding-top: 20px;
    }

    @media(min-width: 768px) {
        #product-tabbed-details .cta-image-text .text-container{
            padding-left: 0;
            padding-right: 0;
            padding-top: 40px;
        }

        #product-tabbed-details .cta-image-text .content-button {
            width: auto;
            margin-left: unset;
        }
    }
    @media(min-width: 1024px) {
        #product-tabbed-details .cta-image-text .image-container{
            width:50%;
        }
        #product-tabbed-details .cta-image-text .text-container{
            width:50%;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 50px;
            padding-top: 50px;
        }
        #product-tabbed-details .cta-image-text .flex-wrapper{
            {%- if product.metafields.about_2.image_pos == 'Left' -%}
                flex-direction: row;
            {%- else -%}
                flex-direction: row-reverse;
            {%- endif -%}
            
        }

        {%- if product.metafields.about_2.image_pos == 'Left' -%}
            #product-tabbed-details .cta-image-text .text-container{
                transform: translateX(20px);
            }
        {%- else -%}
            #product-tabbed-details .cta-image-text .text-container{
                transform: translateX(-20px);
            }
        {%- endif -%}
    }
    @media(min-width: 1200px) {
        {%- if product.metafields.about_2.image_pos == 'Left' -%}
            #product-tabbed-details .cta-image-text .text-container{
                transform: translateX(30px);
            }
        {%- else -%}
            #product-tabbed-details .cta-image-text .text-container{
                transform: translateX(-30px);
            }
        {%- endif -%}
    }
</style>

<section id="product-tabbed-details" class="product-tabbed-details pt-25 d-pt-40">
    <div class="container">
        <div class="tab-links-wrapper d-bb-1 b-border">
            {%- if product.metafields.about_1.enable -%}
                <a href="javascript:void(0)" @click="setTabbedContentVisible($event,0)" class="p2 about-tab-link show-m-inline-block mr-20 d-mr-40 relative active">{{ product.metafields.about_1.section_title }}</a>
            {%- endif -%}

            {%- if product.metafields.about_2.enable -%}
                <a href="javascript:void(0)" @click="setTabbedContentVisible($event,1)" class="p2 about-tab-link show-m-inline-block mr-20 d-mr-40 relative">{{ product.metafields.about_2.section_title }}</a>
            {%- endif -%}

            {%- if product.metafields.before_after.enable -%}
                <a href="javascript:void(0)" @click="setTabbedContentVisible($event,2)" class="p2 about-tab-link show-m-inline-block mr-20 d-mr-40 relative">{{ product.metafields.before_after.section_title }}</a>
            {%- endif -%}
        </div>

        <div class="product-tabbed-content-wrapper mt-20 d-mt-40">
            {% comment %} before after {% endcomment %}
            {%- if product.metafields.before_after.enable -%}
                <div v-if="tabbedContentEachVisible[2]" class="about-3-content">
                    <div class="content-wrapper">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                {%- for i in (1..10) -%}
                                    {%- assign text = 'text_' | append: i -%}
                                    {%- assign text_acc = product.metafields.before_after[text] -%}
                                    {%- assign image_before = 'image_before_' | append: i -%}
                                    {%- assign image_before_acc = product.metafields.before_after[image_before] -%}
                                    {%- assign image_after = 'image_after_' | append: i -%}
                                    {%- assign image_after_acc = product.metafields.before_after[image_after] -%}

                                    {%- if image_before_acc != blank -%}
                                        <div class="swiper-slide d-pl-20 d-pr-20">
                                            <div class="before-after-each">
                                                <div class="global-flex flex-wrap">
                                                    <div class="col-6">
                                                        {%- render 'global-image-wrapper',
                                                            image: image_before_acc[0],
                                                            acc: true,
                                                            load_inside_vue: true
                                                        -%}
                                                        <p class="c-white uppercase p5 p-15 d-p-20 ab-bottom width-100 tc">{{ 'general.before_after.before' | t }}</p>
                                                    </div>
                                                    <div class="col-6">
                                                        {%- render 'global-image-wrapper',
                                                            image: image_after_acc[0],
                                                            acc: true,
                                                            load_inside_vue: true
                                                        -%}
                                                        <p class="c-white uppercase p5 p-15 d-p-20 ab-bottom width-100 tc">{{ 'general.before_after.after' | t }}</p>
                                                    </div>
                                                    
                                                    {%- if text_acc != blank -%}
                                                        <div class="col-12 mt-15">
                                                            <div class="max-550">
                                                                <p class="p3">{{ text_acc }}</p>
                                                            </div>
                                                        </div>
                                                    {%- endif -%}
                                                </div>
                                            </div>
                                        </div>
                                    {%- endif -%}
                                {%- endfor -%}
                            </div>
                        </div>

                        <div class="controls-container global-flex ai-center jc-between relative width-100 mt-25 d-mt-20">
                            <div class="swiper-pagination"></div>
                            <div class="arrow-wrapper hide-m show-d">
                                <div class="swiper-custom-arrow left">{{ settings.icon_btn_left }}</div>
                                <div class="swiper-custom-arrow ml-10 right">{{ settings.icon_btn_right }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {%- endif -%}
            {% comment %} end before after {% endcomment %}

            {% comment %} About 1 {% endcomment %}
            {%- if product.metafields.about_1.enable -%} 
                <div v-if="tabbedContentEachVisible[0]" class="about-1-content">
                    <div class="content-wrapper">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                {%- for i in (1..3) -%}
                                    {%- assign small_title = 'small_title_' | append: i -%}
                                    {%- assign small_title_acc = product.metafields.about_1[small_title] -%}
                                    {%- assign title = 'title_' | append: i -%}
                                    {%- assign title_acc = product.metafields.about_1[title] -%}
                                    {%- assign text = 'text_' | append: i -%}
                                    {%- assign text_acc = product.metafields.about_1[text] -%}                                
                                    {%- assign counter_1 = 'counter_1_' | append: i -%}
                                    {%- assign counter_1_acc = product.metafields.about_1[counter_1] -%}
                                    {%- assign counter_title_1 = 'counter_title_1_' | append: i -%}
                                    {%- assign counter_title_1_acc = product.metafields.about_1[counter_title_1] -%}
                                    {%- assign counter_2 = 'counter_2_' | append: i -%}
                                    {%- assign counter_2_acc = product.metafields.about_1[counter_2] -%}
                                    {%- assign counter_title_2 = 'counter_title_2_' | append: i -%}
                                    {%- assign counter_title_2_acc = product.metafields.about_1[counter_title_2] -%}
                                    {%- assign counter_3 = 'counter_3_' | append: i -%}
                                    {%- assign counter_3_acc = product.metafields.about_1[counter_3] -%}
                                    {%- assign counter_title_3 = 'counter_title_3_' | append: i -%}
                                    {%- assign counter_title_3_acc = product.metafields.about_1[counter_title_3] -%}
                                    {%- assign image = 'image_' | append: i -%}
                                    {%- assign image_acc = product.metafields.about_1[image] -%}

                                    {%- if small_title_acc != blank -%}
                                        <div class="swiper-slide col-12 col-t-6 col-d-4">
                                            <div class="about-content-each global-flex flex-wrap ai-center width-100 relative">
                                                {%- render 'global-image-wrapper',
                                                    image: image_acc[0],
                                                    acc: true,
                                                    load_inside_vue: true
                                                -%}

                                                <div class="text-wrapper ab-middle width-100 z-2 tc p-40 d-p-60">
                                                    <p class="p5 uppercase bold-500 mb-30 width-100">{{ small_title_acc }}</p>

                                                    {%- if title_acc != blank -%}
                                                        <h6 class="h8 max-270 ml-auto mr-auto">{{ title_acc | newline_to_br }}</h6>
                                                    {%- endif -%}

                                                    {%- if text_acc != blank -%}
                                                        <div class="width-100 relative mt-10">
                                                            <p class="p2 max-270 ml-auto mr-auto">{{ text_acc }}</p>
                                                        </div>
                                                    {%- endif -%}

                                                    {%- if counter_1_acc != blank -%}
                                                        <div class="counter-1 width-100">
                                                            <h6 class="h7">{{ counter_1_acc }}</h6>
                                                            <div class="max-120 ml-auto mr-auto">
                                                                <p class="p4 c-black opacity-5">{{ counter_title_1_acc }}</p>
                                                            </div>
                                                        </div>
                                                    {%- endif -%}
                                                    {%- if counter_2_acc != blank -%}
                                                        <div class="counter-2 width-100 mt-15">
                                                            <h6 class="h7">{{ counter_2_acc }}</h6>
                                                            <div class="max-120 ml-auto mr-auto">
                                                                <p class="p4 c-black opacity-5">{{ counter_title_2_acc }}</p>
                                                            </div>
                                                        </div>
                                                    {%- endif -%}
                                                    {%- if counter_3_acc != blank -%}
                                                        <div class="counter-3 width-100 mt-15">
                                                            <h6 class="h7">{{ counter_3_acc }}</h6>
                                                            <div class="max-120 ml-auto mr-auto">
                                                                <p class="p4 c-black opacity-5">{{ counter_title_3_acc }}</p>
                                                            </div>
                                                        </div>
                                                    {%- endif -%}
                                                </div>
                                            </div>
                                        </div>
                                    {%- endif -%}
                                {%- endfor -%}
                            </div>

                            <div class="swiper-pagination show-m hide-d mt-25"></div>
                        </div>
                    </div>
                </div>
            {%- endif -%}
            {% comment %} end About 1 {% endcomment %}

            {% comment %} About 2 {% endcomment %}
            {%- if product.metafields.about_2.enable -%}
                <div v-if="tabbedContentEachVisible[1]" class="about-2-content cta-image-text">
                    <div class="relative width-100">
                        <div class="flex flex-wrap align-flex flex-wrapper">
                            <div class="image-container">
                                {% assign image_id = "cta-image-text-about-2" %}
                                {%- render 'global-image-wrapper-responsive',
                                    image_id: image_id,
                                    desktop_image: product.metafields.about_2.image_desktop[0],
                                    desktop_acc: true,
                                    mobile_image: product.metafields.about_2.image_mobile[0],
                                    mobile_acc: true,
                                    load_inside_vue: true
                                %}    
                            </div>
                            <div class="text-container tl">
                                <h2 class="h3 c-black">{{ product.metafields.about_2.title }}</h2>

                                {%- if product.metafields.about_2.text != blank -%}
                                    <p class="p2 c-black mt-10 d-mt-15">{{ product.metafields.about_2.text | newline_to_br }}</p>
                                {%- endif -%}
                            </div>
                        </div>
                    <div>
                </div>
            {%- endif -%}
            {% comment %} end About 2 {% endcomment %}
        </div>
    </div> 
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const productTabbedDetailsVue = Vue.createApp({
            delimiters: [
                '${', '}'
            ],
            data() {
                return {
                tabbedContentEachVisible: [true,false,false]
                }
            },
            mounted() {
            this.initAbout1Carousel();
            },
            methods: {    
                initAbout1Carousel() {
                    new Swiper('#product-tabbed-details .about-1-content .swiper', {
                        direction: 'horizontal',
                        slidesPerView: 'auto',
                        loop: false,
                        pagination: {
                            el: "#product-tabbed-details .about-1-content .swiper-pagination",
                            clickable: true
                        },
                        on: {
                            init: function() {
                                $360.lazyLoadInstance.update();
                            },
                            slideChange: function() {
                                $360.lazyLoadInstance.update();
                            },
                            resize: function() {
                                $360.lazyLoadInstance.update();
                            }
                        }
                    });
                },
                initAbout3Carousel() {
                    new Swiper('#product-tabbed-details .about-3-content .swiper', {
                        direction: 'horizontal',
                        slidesPerView: 'auto',
                        loop: false,
                        pagination: {
                            el: "#product-tabbed-details .about-3-content .swiper-pagination",
                            clickable: true,
                            type: "progressbar"
                        },
                        navigation: {
                            nextEl: '#product-tabbed-details .about-3-content .swiper-custom-arrow.right',
                            prevEl: '#product-tabbed-details .about-3-content .swiper-custom-arrow.left'
                        },
                        on: {
                            init: function() {
                                $360.lazyLoadInstance.update();
                            },
                            slideChange: function() {
                                $360.lazyLoadInstance.update();
                            },
                            resize: function() {
                                $360.lazyLoadInstance.update();
                            }
                        }
                    });
                },
                setTabbedContentVisible(e,index) {
                    const this_obj = this;
                    const this_button = e.target.closest('.about-tab-link');
                    this.tabbedContentEachVisible.fill(false);
                    this.tabbedContentEachVisible[index] = true;

                    const links = document.querySelectorAll('#product-tabbed-details .about-tab-link');
                    links.forEach(function(link){
                        link.classList.remove('active');
                    });

                    this_button.classList.add('active');

                    const delay = setTimeout(function(){
                        if(index == 0) {
                            this_obj.initAbout1Carousel();
                        } else if(index == 2) {
                            this_obj.initAbout3Carousel();
                        }

                        $360.lazyLoadInstance.update();

                        clearTimeout(delay);
                    }, 50);
                }
            }
        }).mount('#product-tabbed-details');
    });
</script>