<div id="reset-password-page" class="global-content-top-margin pt-20 pb-50 d-pt-100 d-pb-100">
  <div class="container">
    {%- form 'reset_customer_password', id: 'reset-password-form' -%}
      <h1 class="h2 tc c-greenb2 mb-30">{{ 'customer.reset_password.title' | t }}</h1>
      
      <div class="middle-max-355 mx-auto">
        {%- if form.errors -%}
          <div class="form-errors mb-30 c-sale-red rte p2">
            {{ form.errors | default_errors }}
          </div>
        {%- endif -%}

        <div class="mb-15">
          <input type="password" v-model="password" name="customer[password]" id="password" class="global-input p2 rounded-8" placeholder="{{ 'customer.reset_password.password' | t }}" />
          <div v-if="password_error" class="c-sale-red p3 mt-5">{{ 'customer.reset_password.error_password' | t }}</div>
        </div>
        <div class="mb-30">
          <input type="password" v-model="password_confirm" name="customer[password_confirmation]" id="password_confirmation" class="global-input p2 rounded-8" placeholder="{{ 'customer.reset_password.password_confirm' | t }}" />
          <div v-if="password_confirm_error" class="c-sale-red p3 mt-5">{{ 'customer.reset_password.error_password_confirm' | t }}</div>
        </div>
        <button type="submit" class="btn btn1 no-icon w-full">{{ 'customer.reset_password.submit' | t }}</button>
      </div>
    {%- endform -%}
  </div>
</div>

<script>
Vue.createApp({
  delimiters: ['${', '}'],
  data() {
    return {
      password: null,
      password_confirm: null,
      has_error: false,
      password_error: false,
      password_confirm_error: false,
    }
  },
  mounted() {
    const thisObj = this;
    document.getElementById('reset-password-form').addEventListener('submit', function(e) {
      e.preventDefault();

      thisObj.has_error = false;
      thisObj.password_error = false;
      thisObj.password_confirm_error = false;

      if(!thisObj.password) {
        thisObj.password_error = true;
        thisObj.has_error = true;
      }

      if(!thisObj.password_confirm) {
        thisObj.password_confirm_error = true;
        thisObj.has_error = true;
      }

      if(!thisObj.has_error) {
        this.submit();
      }
    });
  }
}).mount('#reset-password-page');
</script>