<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    <style>
      .order_note{
      	width: 100%;
        max-width: inherit;
      }
    </style>
    
    {{ checkout_scripts }}
  </head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">      
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>   
    
    <script>
      	(function($) {
          $(document).on("page:load", function() {
            if(Shopify.Checkout.step == "shipping_method"){
              
              $(".radio-wrapper").each(function(){
              if($(this).find(".radio__label__primary").text().includes("Install"))
              {
                cb = $(this).closest(".content-box__row");
                cb.next().find(".input-radio").trigger("click");
                          cb.remove();
              }
              });
              
            	var parent = $(".section--shipping-method .section__content");
              	var html = '<div class="content-box" data-note><div class="content-box__row"><textarea class="order_note" name="checkout[note]" rows="5" placeholder="Your Message..."></textarea></div></div>';
              	$(parent).append(html);
              
              {% if checkout.note !=  blank %}
                $(".order_note").val("{{checkout.note}}");
              {% endif %}
          	}
          });
        })(Checkout.$);
    </script>

    {{ tracking_code }}
  <!-- Google Tag Manager -->
  <script type="text/javascript">
    // Might not need to meedle here as we are intending on getting checkout completed data only!
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-54LPL7K');

    // INITIALIZE DATA LAYER AND THEN POPULATE  
    window.dataLayer = window.dataLayer || [];
  </script>
  <!-- End Google Tag Manager -->
  </body>
</html>
