{% comment %} Love&Co Theme {% endcomment %}
{% assign el_id = "shopify-section-" | append: section.id %}
{% render 'section-padding', section: section, el_id: el_id %}

<style>
  #shopify-section-{{ section.id }} {
      {% if section.settings.e_border_top %}
      border-top: 1px solid #dbdbdb;
      {% endif %}
  }
  #shopify-section-{{ section.id }} .about-customers-say .acs-con {
    display: flex;
    flex-direction: column;
  }
  #shopify-section-{{ section.id }} .about-customers-say .acs-con.hide-m {
    display: none;
  }
  #shopify-section-{{ section.id }} .acs-left {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    order: 2;
  }
  #shopify-section-{{ section.id }} .acs-left .global-flex {
    flex-direction: column;
  }
  #shopify-section-{{ section.id }} .asc-small-image {
    width: 100%;
  }
  #shopify-section-{{ section.id }} .acs-right {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    order: 1;
  }
  #shopify-section-{{ section.id }} .global-video-wrapper video{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
  }
  #shopify-section-{{ section.id }} .play-button {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    padding-left: 3px;
  }
  #shopify-section-{{ section.id }} .play-button svg {
    display: block;
    width: 14px;
    height: 14px;
  }
  .video-popup-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(108,108,108,.8);
    z-index: 1000000;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s ease all;
    overflow-y: auto;
  }
  .video-popup-wrapper.show {
    opacity: 1;
    visibility: visible;
  }
  .video-popup-wrapper .popup-outer-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .video-popup-wrapper .popup-inner-wrapper {
    position: relative;
    width: 100%;
    font-size: 0;
    height: auto;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  }
  .video-popup-wrapper .popup-inner-wrapper iframe {
    position: relative;
    width: 100%;
    height: auto;
  }
  .video-popup-wrapper .popup-inner-wrapper .close-popup {
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 0;
    top: -40px;
    right: 25px;
  }
  .video-popup-wrapper .popup-inner-wrapper .close-popup svg {
    display: block;
    width: 20px;
    height: 20px;
  }
  .video-popup-wrapper .popup-inner-wrapper .close-popup svg * {
    stroke: #fff;
  }

  @media screen and (min-width: 768px) {
    .video-popup-wrapper .popup-inner-wrapper {
      width: 80%;
    }
    .video-popup-wrapper .popup-inner-wrapper .close-popup {
      right: 0;
    }
  }

  @media screen and (min-width: 1024px) {
    .video-popup-wrapper .popup-inner-wrapper {
      width: 70%;
    }
    #shopify-section-{{ section.id }} .about-customers-say .acs-con {
      flex-direction: row;
    }
    #shopify-section-{{ section.id }} .acs-left {
      width: 60%;
      justify-content: space-between;
      padding-right: 0;
    }
    #shopify-section-{{ section.id }} .acs-left .global-flex {
      flex-direction: row;
    }
    #shopify-section-{{ section.id }} .acs-left .container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;
    }
    #shopify-section-{{ section.id }} .asc-small-image {
      width: 50%;
    }
    #shopify-section-{{ section.id }} .acs-right {
      width: 40%;
      justify-content: end;
      padding-left: 0;
    }
    #shopify-section-{{ section.id }} .image-position-right{
      order: 2;
    }
    #shopify-section-{{ section.id }} .image-position-left{
      order: 1;
    }
  }
</style>

<div class="about-customers-say">
  {%- comment -%} video popup wrapper {%- endcomment -%}
  <teleport to="body">
    <div id="" class="video-popup-wrapper" @click="hidePopup($event)" v-if="showVideoPopup" :class="{ 'show': showVideoPopupFade }">
      <div class="popup-outer-wrapper">
        <div class="popup-inner-wrapper relative pl-25 pr-25 t-pl-0 t-pr-0">
          <a href="javascript:void(0)" rel="nofollow" @click="togglePopup($event)" class="close-popup">{{ settings.icon_close }}</a>

          <iframe class="hide-m" id="video-popup-iframe" src="" frameborder="0" allowfullscreen></iframe>
          <video class="hide-m" id="video-popup-video" controls playsinline>
            <source src="" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </teleport>
  {%- comment -%} end video popup wrapper {%- endcomment -%}

  <div class="container relative">
    <h4 class="h5 c-black pb-30 t-pb-40 tc">{{ section.settings.title }}</h4>
  </div>

  {%- assign content_per_page = section.settings.blocks_per_page -%}
  {% for block in section.blocks %}
    {%- assign additional_class = '' -%}

    {%- if forloop.index > content_per_page -%}
      {%- assign additional_class = 'hide-m' -%}
    {%- endif -%}

    <div data-index="{{ forloop.index }}" class="acs-con {{ additional_class }}">
      <div class="acs-left" style="background-color: {{ block.settings.bg_color }};">
        <div class="container pb-50 pt-50 pl-60 pr-60 d-pb-0 d-pt-0 t-pl-60 t-pr-60 d-pl-160 d-pr-160 tc ">
          <h6 class="h9 c-black tc">{{ block.settings.title }}</h6>
          <p class="p3 pt-15 d-pt-20 bold-600 spacing-2 c-black tc uppercase">{{ block.settings.author }}</p>  
        </div>
        <div class="global-flex width-100">
          <div class="asc-small-image">
            {% if block.settings.small_video_1 == blank %}
              {%- assign image_id = "about-customers-say-" | append: block.id -%}
              {%- render 'global-image-wrapper',
                image_id: image_id,
                image: block.settings.small_image_1,
              %}  
            {% else %}
              {%- assign video_type = '' -%}
              {%- assign video_url = '' -%}
              {%- for vid_source in block.settings.small_video_1.sources -%}
                {%- if vid_source.mime_type == 'video/mp4' -%}
                  {%- assign video_type = vid_source.mime_type -%}
                  {%- assign video_url = vid_source.url -%}
                {%- endif -%}
              {%- endfor -%}

              {%- if block.settings.small_video_play_1 == 'inline' -%}
                <div class="small-image-wrapper">
                  {%assign id = "small-video-1" | append: block.id %}
                  {%- render
                      'global-video-wrapper-responsive',
                      desktop_image: block.settings.small_image_1,
                      mobile_image: block.settings.small_image_1,
                      desktop_video_url: video_url,
                      mobile_video_url: video_url,
                      video_id: id,
                      load_inside_vue: true
                  -%}
                </div>
              {%- else -%}
                <div class="small-image-wrapper relative">
                  {%- render 'global-image-wrapper',
                    image: block.settings.small_image_1
                  -%}

                  <a href="javascript:void(0)" data-video-url="{{ video_url }}" @click="togglePopup($event)" rel="no-follow" class="play-button">{{ settings.icon_play }}</a>
                </div>
              {%- endif -%}
            {% endif %}
          </div>
          <div class="asc-small-image">
            {% if block.settings.small_video_2 == blank %}
              {%- assign image_id = "about-customers-say-" | append: block.id -%}
              {%- render 'global-image-wrapper',
                image_id: image_id,
                image: block.settings.small_image_2,
              %}  
            {% else %}
              {%- assign video_type = '' -%}
              {%- assign video_url = '' -%}
              {%- for vid_source in block.settings.small_video_2.sources -%}
                {%- if vid_source.mime_type == 'video/mp4' -%}
                  {%- assign video_type = vid_source.mime_type -%}
                  {%- assign video_url = vid_source.url -%}
                {%- endif -%}
              {%- endfor -%}

              {%- if block.settings.small_video_play_2 == 'inline' -%}
                <div class="small-image-wrapper">
                  {%assign id = "small-video-2-" | append: block.id %}
                  {%- render
                      'global-video-wrapper-responsive',
                      desktop_image: block.settings.small_image_2,
                      mobile_image: block.settings.small_image_2,
                      desktop_video_url: video_url,
                      mobile_video_url: video_url,
                      video_id: id,
                      load_inside_vue: true
                  -%}
                </div>
              {%- else -%}
                <div class="small-image-wrapper relative">
                  {%- render 'global-image-wrapper',
                    image: block.settings.small_image_2
                  -%}

                  <a href="javascript:void(0)" data-video-url="{{ video_url }}" @click="togglePopup($event)" rel="no-follow" class="play-button">{{ settings.icon_play }}</a>
                </div>
              {%- endif -%}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="acs-right image-position-{{ block.settings.image_position }}">
        <div class="width-100">
          {% if block.settings.big_video == blank %}
            {%- assign image_id = "about-customers-say-" | append: block.id -%}
            {%- render 'global-image-wrapper',
              image_id: image_id,
              image: block.settings.big_image,
            %}  
          {% else %}
            {%- assign video_type = '' -%}
            {%- assign video_url = '' -%}
            {%- for vid_source in block.settings.big_video.sources -%}
              {%- if vid_source.mime_type == 'video/mp4' -%}
                {%- assign video_type = vid_source.mime_type -%}
                {%- assign video_url = vid_source.url -%}
              {%- endif -%}
            {%- endfor -%}

            {%- if block.settings.big_video_play == 'inline' -%}
              <div class="big-image-wrapper">
                {%assign id = "big-video-" | append: block.id %}
                {%- render
                    'global-video-wrapper-responsive',
                    desktop_image: block.settings.big_image,
                    mobile_image: block.settings.big_image,
                    desktop_video_url: video_url,
                    mobile_video_url: video_url,
                    video_id: id,
                    load_inside_vue: true
                -%}
              </div>
            {%- else -%}
              <div class="big-image-wrapper relative">
                {%- render 'global-image-wrapper',
                  image: block.settings.big_image
                -%}

                <a href="javascript:void(0)" data-video-url="{{ video_url }}" @click="togglePopup($event)" rel="no-follow" class="play-button">{{ settings.icon_play }}</a>
              </div>
            {%- endif -%}
          {% endif %}  
        </div>
      </div>
    </div>
  {% endfor %}

  {%- if content_per_page < section.blocks.size -%}
    <div class="load-more-wrapper width-100 tc mt-30 d-mt-50">
      <a href="javascript:void(0)" @click="nextPage($event)" class="load-more-btn btn1">{{ section.settings.button_label }}</a>
    </div>
  {%- endif -%}
</div>

<script>
  const aboutTestimonialVue = Vue.createApp({
    delimiters: ['${','}'], 
		data() {
			return {
        showVideoPopup: false,
        showVideoPopupFade: false,
        videoURL: null,
        iframeObj: null,
        videoObj: null,
        currentPage: 1,
        contentPerPage: 1,
        maxPage: 1
			}
		},
		mounted() {
      this.contentPerPage = Number(`{{ section.settings.blocks_per_page }}`);
      this.maxPage = Math.floor(Number(`{{ section.blocks.size }}`)/this.contentPerPage);
    },
    methods: {
      hidePopup(e) {
        if(e.target.classList.contains('popup-outer-wrapper')) {
          this.togglePopup();
        }
      },
      nextPage(e) {
        this.currentPage += 1;
        const nextVisibleContent = this.currentPage * this.contentPerPage;
        const contentObjs = document.querySelectorAll(`#shopify-section-{{ section.id }} .acs-con`);
        
        contentObjs.forEach(function(content){
          let thisIndex = content.getAttribute('data-index');

          if(thisIndex <= nextVisibleContent) {
            content.classList.remove('hide-m');
          }
        });

        if(this.currentPage >= this.maxPage) {
          document.querySelector(`#shopify-section-{{ section.id }} .load-more-wrapper`).classList.add('hide-m');
        }
      },
      setVideo() {
        if(this.videoURL.indexOf('.mp4') >= 0) {
          this.videoObj.querySelector('source').setAttribute('src', this.videoURL);
          this.iframeObj.classList.add('hide-m');
          this.videoObj.classList.remove('hide-m');

          this.videoObj.load();
        }
      },
      togglePopup(e) {
        const this_obj = this;
        let button_obj = null;

        if(e != null) {
          button_obj = e.target.closest('.play-button')
        }

        if(!this_obj.showVideoPopup) {
          this_obj.showVideoPopup = true;

          setTimeout(() => {
            this.iframeObj = document.querySelector('#video-popup-iframe');
            this.videoObj = document.querySelector('#video-popup-video');
            this_obj.showVideoPopupFade = true;
            this_obj.videoURL = button_obj.getAttribute('data-video-url');

            this_obj.setVideo();
          }, 100);
        } else {
          this_obj.showVideoPopupFade = false;

          setTimeout(() => {
            this_obj.showVideoPopup = false;
          }, 500);
        }
      }
    }
  }).mount('#shopify-section-{{ section.id }} .about-customers-say');
</script>

{% schema %}
  {
    "name": "About - Customers Say",
    "settings": [
      {
        "type": "checkbox",
        "id": "e_border_top",
        "label": "Enable Border Top"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "number",
        "id": "blocks_per_page",
        "label": "Blocks to show per page",
        "default": 1
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Load more button label"
      },
      {
        "type": "header",
        "content": "Padding Settings"
      }, {
        "type": "number",
        "id": "top_padding_m",
        "label": "Top Padding (Mobile)"
      }, {
        "type": "number",
        "id": "bottom_padding_m",
        "label": "Bottom Padding (Mobile)"
      }, {
        "type": "number",
        "id": "top_padding_t",
        "label": "Top Padding (Tablet)"
      }, {
        "type": "number",
        "id": "bottom_padding_t",
        "label": "Bottom Padding (Tablet)"
      }, {
        "type": "number",
        "id": "top_padding",
        "label": "Top Padding (Desktop)"
      }, {
        "type": "number",
        "id": "bottom_padding",
        "label": "Bottom Padding (Desktop)"
      }
    ],
    "blocks": [
      {
        "name": "Entry",
        "type": "text",
        "settings": [
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Testimonial"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author"
          },
          {
            "type": "header",
            "content": "Big image"
          },{
            "type": "image_picker",
            "id": "big_image",
            "label": "Big image"
          },
          {
            "type": "video",
            "id": "big_video",
            "label": "Video"
          },
          {
            "type": "select",
            "id": "big_video_play",
            "label": "Play on",
            "options": [
              {
                "value": "inline",
                "label": "Inline"
              },
              {
                "value": "popup",
                "label": "Popup"
              }
            ],
            "default": "inline"
          },
          {
            "type": "select",
            "id": "image_position",
            "label": "Image Position",
            "options": [
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "left",
                "label": "Left"
              }
              
            ],
            "default": "right"
          },
          {
            "type": "header",
            "content": "Small image 1"
          },{
            "type": "image_picker",
            "id": "small_image_1",
            "label": "Small image 1"
          },
          {
            "type": "video",
            "id": "small_video_1",
            "label": "Video"
          },
          {
            "type": "select",
            "id": "small_video_play_1",
            "label": "Play on",
            "options": [
              {
                "value": "inline",
                "label": "Inline"
              },
              {
                "value": "popup",
                "label": "Popup"
              }
            ],
            "default": "inline"
          },
          {
            "type": "header",
            "content": "Small image 2"
          },{
            "type": "image_picker",
            "id": "small_image_2",
            "label": "Small image 2"
          },
          {
            "type": "video",
            "id": "small_video_2",
            "label": "Video"
          },
          {
            "type": "select",
            "id": "small_video_play_2",
            "label": "Play on",
            "options": [
              {
                "value": "inline",
                "label": "Inline"
              },
              {
                "value": "popup",
                "label": "Popup"
              }
            ],
            "default": "inline"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "About - Customers Say"
      }
    ]
  }
{% endschema %}