{% comment %} Love&Co Theme {% endcomment %}
{% assign el_id = "shopify-section-" | append: section.id%}
{% render 'section-padding', section:section , el_id : el_id%}

<style>
    #shopify-section-{{ section.id }} {
        background-color: {{ section.settings.bg_color }};
    }
    #shopify-section-{{ section.id }} .image-wrapper .text-container {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        background: rgba(0, 0, 0, .5);
        z-index: 2;
        top: 0;
        left: 0;
        transition: 0.3s ease all;
        opacity: 1;
        visibility: visible;
    }
    #shopify-section-{{ section.id }} .main-wrapper {
        flex-wrap: wrap;
    }
    #shopify-section-{{ section.id }} .col-index-1 .image-1,
    #shopify-section-{{ section.id }} .col-index-1 .image-2,
    #shopify-section-{{ section.id }} .col-index-2 .image-3 {
        flex: 0 0 100%;
    }

    @media screen and (min-width: 1024px) {
        #shopify-section-{{ section.id }} .image-wrapper .text-container {
            opacity: 0;
            visibility: hidden;
        }
        #shopify-section-{{ section.id }} .image-wrapper:hover .text-container {
            opacity: 1;
            visibility: visible;
        }

        #shopify-section-{{ section.id }} .main-wrapper {
            flex-wrap: unset;
            column-gap: 30px;
        }
        #shopify-section-{{ section.id }} .col-index-1 .image-1 {
            flex: 0 0 100%;
        }
        #shopify-section-{{ section.id }} .col-index-1 .image-2 {
            flex: 0 0 73%;
        }
        #shopify-section-{{ section.id }} .col-index-2 .image-3 {
            flex: 0 0 94%;
        }
        #shopify-section-{{ section.id }} .col-index-2 .col-wrapper {
            height: 100%;
        }

        #shopify-section-{{ section.id }} .col-index-0 {
            width: 32%;
        }
        #shopify-section-{{ section.id }} .col-index-1 {
            width: 37%;
        }
        #shopify-section-{{ section.id }} .col-index-2 {
            width: 31%;
        }
        #shopify-section-{{ section.id }} .diamond-1 {
            width: 104px;
            position: absolute;
            bottom: 60px;
            transform: translateX(calc(-100% - 50px));
        }
        #shopify-section-{{ section.id }} .diamond-2 {
            width: 174px;
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(calc(-100% - 40px));
        }
    }
    @media screen and (min-width: 1200px) {
        #shopify-section-{{ section.id }} .main-wrapper {
            column-gap: 65px;
        }
    }
</style>

<section class="about-milestones overflow">
    <div class="container">
        <div class="main-wrapper global-flex">
            <div class="col-index-0 col-12 pl-0 pr-0 col-d-4 d-pl-0 d-pr-0">
                <div class="title-container d-pl-40 d-pt-50 max-220">
                    <h2 class="h6">{{ section.settings.title | newline_to_br }}</h2>
                </div>

                {%- if section.blocks[0].settings.image != blank -%}
                    <div class="image-wrapper image-0 relative mt-15 d-mt-40">
                        {%-  render 'global-image-wrapper',
                            image: section.blocks[0].settings.image
                        -%}

                        {%- if section.blocks[0].settings.title != blank -%}
                            <div class="text-container tc">
                                <div class="wrapper">
                                    {%- if section.blocks[0].settings.counter != blank -%}
                                        <h3 class="h2 c-white width-100 mb-5 d-mb-15">{{ section.blocks[0].settings.counter }}</h3>
                                    {%- endif -%}
                                    <p class="p3 uppercase c-white bold-600 spacing-2 width-100 max-240 ml-auto mr-auto">{{ section.blocks[0].settings.title | newline_to_br }}</p>
                                </div>
                            </div>
                        {%- endif -%}
                    </div>
                {%- endif -%}
            </div>
            <div class="col-index-1 col-12 pl-0 pr-0 col-d-4 d-pl-0 d-pr-0">
                <div class="global-flex flex-wrap jc-end">
                    {%- if section.blocks[1].settings.image != blank -%}
                        <div class="image-wrapper image-1 relative mt-25 d-mt-0">
                            {%-  render 'global-image-wrapper',
                                image: section.blocks[1].settings.image
                            -%}

                            {%- if section.blocks[1].settings.title != blank -%}
                                <div class="text-container tc">
                                    <div class="wrapper">
                                        {%- if section.blocks[1].settings.counter != blank -%}
                                            <h3 class="h2 c-white width-100 mb-5 d-mb-15">{{ section.blocks[1].settings.counter }}</h3>
                                        {%- endif -%}
                                        <p class="p3 uppercase c-white bold-600 spacing-2 width-100 max-240 ml-auto mr-auto">{{ section.blocks[1].settings.title | newline_to_br }}</p>
                                    </div>
                                </div>
                            {%- endif -%}
                        </div>
                    {%- endif -%}

                    {%- if section.blocks[2].settings.image != blank -%}
                        <div class="image-wrapper image-2 relative mt-25 d-mt-55">
                            {%-  render 'global-image-wrapper',
                                image: section.blocks[2].settings.image
                            -%}

                            {%- if section.settings.diamond_image_1 != blank -%}
                                <div class="diamond-1 hide-m show-d">
                                    {%-  render 'global-image-wrapper',
                                        image: section.settings.diamond_image_1,
                                        additional_class: 'no-bg'
                                    -%}
                                </div>
                            {%- endif -%}

                            {%- if section.blocks[2].settings.title != blank -%}
                                <div class="text-container tc">
                                    <div class="wrapper">
                                        {%- if section.blocks[2].settings.counter != blank -%}
                                            <h3 class="h2 c-white width-100 mb-5 d-mb-15">{{ section.blocks[2].settings.counter }}</h3>
                                        {%- endif -%}
                                        <p class="p3 uppercase c-white bold-600 spacing-2 width-100 max-240 ml-auto mr-auto">{{ section.blocks[2].settings.title | newline_to_br }}</p>
                                    </div>
                                </div>
                            {%- endif -%}
                        </div>
                    {%- endif -%}
                </div>
            </div>
            <div class="col-index-2 col-12 pl-0 pr-0 col-d-4 d-pl-0 d-pr-0">
                <div class="col-wrapper global-flex flex-wrap ai-end jc-end">
                    {%- if section.blocks[3].settings.image != blank -%}
                        <div class="image-wrapper image-3 relative mt-25 d-mb-100">
                            {%-  render 'global-image-wrapper',
                                image: section.blocks[3].settings.image
                            -%}

                            {%- if section.settings.diamond_image_2 != blank -%}
                                <div class="diamond-2 hide-m show-d">
                                    {%-  render 'global-image-wrapper',
                                        image: section.settings.diamond_image_2,
                                        additional_class: 'no-bg'
                                    -%}
                                </div>
                            {%- endif -%}

                            {%- if section.blocks[3].settings.title != blank -%}
                                <div class="text-container tc">
                                    <div class="wrapper">
                                        {%- if section.blocks[3].settings.counter != blank -%}
                                            <h3 class="h2 c-white width-100 mb-5 d-mb-15">{{ section.blocks[3].settings.counter }}</h3>
                                        {%- endif -%}
                                        <p class="p3 uppercase c-white bold-600 spacing-2 width-100 max-240 ml-auto mr-auto">{{ section.blocks[3].settings.title | newline_to_br }}</p>
                                    </div>
                                </div>
                            {%- endif -%}
                        </div>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "About - Milestones",
        "max_blocks": 4,
        "settings": [
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color"
            },
            {
                "type": "textarea",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "image_picker",
                "id": "diamond_image_1",
                "label": "Diamond Image #1"
            },
            {
                "type": "image_picker",
                "id": "diamond_image_2",
                "label": "Diamond Image #2"
            },
            {
                "type": "header",
                "content": "Section Padding"
            },
            {
                "type": "text",
                "id": "top_padding_m",
                "label": "Top padding (Mobile)"
            },
            {
                "type": "text",
                "id": "bottom_padding_m",
                "label": "Bottom padding (Mobile)"
            },
            {
                "type": "text",
                "id": "top_padding_t",
                "label": "Top padding (Tablet)"
            },
            {
                "type": "text",
                "id": "bottom_padding_t",
                "label": "Bottom padding (Tablet)"
            },
            {
                "type": "text",
                "id": "top_padding",
                "label": "Top padding (Desktop)"
            },
            {
                "type": "text",
                "id": "bottom_padding",
                "label": "Bottom padding (Desktop)"
            }
        ],
        "blocks": [
            {
                "type": "entry",
                "name": "Entry",
                "settings": [
                    {
                        "type": "text",
                        "label": "Counter",
                        "id": "counter"
                    },
                    {
                        "type": "textarea",
                        "label": "Title",
                        "id": "title"
                    },
                    {
                        "type": "image_picker",
                        "label": "Image",
                        "id": "image"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "About - Milestones",
                "blocks": []
            }
        ]
    }
{% endschema %}