{% comment %} Calecim {% endcomment %}
{% assign el_id = "shopify-section-" | append: section.id%}
{% render 'section-padding', section:section , el_id : el_id%}

<style>
    #shopify-section-{{ section.id }} {
        background-color: {{ section.settings.bg_color }};
    }
    #shopify-section-{{ section.id }} .embed-code {
        max-width: {{ section.settings.max_width }};
        margin: 0 auto;
    }
</style>
<section class="app-embed-code">
    <div class="relative {{ section.settings.section_width }}">
        {%- if section.settings.title != blank -%}
            <div class="title-container pb-40">
                <div class="max-470 ml-auto mr-auto tc">
                    <h3 class="h7">{{ section.settings.title | newline_to_br }}</h3>
                    {%- if section.settings.text != blank -%}
                        <p class="pt-5 d-pt-10 p2 c-grey">{{ section.settings.text }}</p>
                    {%- endif -%}
                </div>
            </div>
        {%- endif -%}

        <div class="embed-code">
            {{ section.settings.embed_code }}
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "App Custom Embed Code",
        "settings": [
            {
                "type": "radio",
                "id": "section_width",
                "label": "Section Width",
                "options": [
                    {"value":"","label":"Full Width"},
                    {"value":"container","label":"Contained"}
                ],
                "default": "container"
            }, 
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color"
            },
            {
                "type": "textarea",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "textarea",
                "id": "text",
                "label": "Text"
            },
            {
                "type": "text",
                "id": "max_width",
                "label": "Max Width",
                "info": "e.g. 400px or 40%"
            },
            {
                "type": "html",
                "id": "embed_code",
                "label": "Embed Code"
            },
            {
                "type": "header",
                "content": "Section Padding"
            },
            {
                "type": "text",
                "id": "top_padding_m",
                "label": "Top padding (Mobile)"
            },
            {
                "type": "text",
                "id": "bottom_padding_m",
                "label": "Bottom padding (Mobile)"
            },
            {
                "type": "text",
                "id": "top_padding_t",
                "label": "Top padding (Tablet)"
            },
            {
                "type": "text",
                "id": "bottom_padding_t",
                "label": "Bottom padding (Tablet)"
            },
            {
                "type": "text",
                "id": "top_padding",
                "label": "Top padding (Desktop)"
            },
            {
                "type": "text",
                "id": "bottom_padding",
                "label": "Bottom padding (Desktop)"
            }
        ],
        "presets": [
            {
                "name": "App Custom Embed Code",
                "blocks": []
            }
        ]
    }
    {% endschema %}