{% comment %} Love&Co Theme {% endcomment %}
{% assign el_id = "shopify-section-" | append: section.id%}
{% render 'section-padding', section:section , el_id : el_id%}

<style>
    #shopify-section-{{ section.id }} {
        background-color:{{section.settings.background_color}};
    }
    #shopify-section-{{ section.id }} .flex-wrapper{
        {% comment %} background-color:{{section.settings.background_color}}; {% endcomment %}
        {%if section.settings.image_position == "row-reverse"%}
        flex-direction:column-reverse;
        {%endif%}
    }
    #shopify-section-{{ section.id }} .image-container{
        width:100%;
    }
    #shopify-section-{{ section.id }} .image-container .text-tag {
        background-color: #fff;
        border-radius: 13px;
        display: inline-block;
        position: absolute;
        top:0;
        right: 0;
    }
    #shopify-section-{{ section.id }} .text-container{
        width:100%;
        max-width:{{section.settings.content_max_width}}px;
        margin:0 auto;
    }
    #shopify-section-{{ section.id }} .content-button{
        {%if section.settings.button_color != blank%}
        color:{{section.settings.button_color}};
        {%endif%}
        {%if section.settings.button_background != blank%}
        background-color:{{section.settings.button_background}};
        {%endif%}
        {%if section.settings.button_border != blank%}
        border-color:{{section.settings.button_border}};
        {%endif%}
    }
    #shopify-section-{{ section.id }} .content-button:hover{
        {%if section.settings.button_color_hover != blank%}
        color:{{section.settings.button_color_hover}};
        {%endif%}
        {%if section.settings.button_background_hover != blank%}
        background-color:{{section.settings.button_background_hover}};
        {%endif%}
        {%if section.settings.button_border_hover != blank%}
        border-color:{{section.settings.button_border_hover}};
        {%endif%}
    }
    #shopify-section-{{ section.id }} .btn1.with-icon .icon svg * {
        {%if section.settings.button_color != blank%}
        stroke:{{section.settings.button_color}};
        {%endif%}
    }
    {%- if section.settings.image_position_mobile == 'image-first' -%}
        #shopify-section-{{ section.id }} .flex-wrapper{
            flex-direction: row;
        }
    {%- endif -%}
    #shopify-section-{{ section.id }} .citi-it-con {
        column-gap: 15px;
        row-gap: 15px;
    }
    #shopify-section-{{ section.id }} .citi-it-item {
        width: calc(50% - 7.5px);
        align-items: center;
    }
    #shopify-section-{{ section.id }} .citi-icon{
        min-width: 35px;
        width: 35px;
        height: 35px;
        padding: 7px;
        border-radius: 35px;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    {%- if section.settings.background_color == blank -%}
        #shopify-section-{{ section.id }} .text-container{
            padding-bottom: 0;
        }
    {%- endif -%}

    {%- if section.settings.section_width == blank -%}
        #shopify-section-{{ section.id }} .text-container{
            padding-left: 20px;
            padding-right: 20px;
        }
    {%- endif -%}

    @media(min-width: 768px) {
        #shopify-section-{{ section.id }} .text-container{
            padding-left:30px;
            padding-right:30px;
        }
        {%- if section.settings.text_align == 'tc' -%}
            #shopify-section-{{ section.id }} .text-desc {
                margin-left: auto;
                margin-right: auto;
            }
        {%- endif -%}

        {%- if section.settings.background_color == blank -%}
            #shopify-section-{{ section.id }} .text-container{
                padding-bottom: 0;
            }
        {%- endif -%}

        {%- if section.settings.section_width == blank -%}
            #shopify-section-{{ section.id }} .text-container{
                padding-left: 30px;
                padding-right: 30px;
            }
        {%- endif -%}
    }
    @media(min-width: 1024px) {
        #shopify-section-{{ section.id }} .image-container{
            width:50%;
        }
        #shopify-section-{{ section.id }} .text-container{
            width:50%;
            padding-left:40px;
            padding-right:40px;
        }
        #shopify-section-{{ section.id }} .flex-wrapper{
            flex-direction:{{section.settings.image_position}};
        }
        #shopify-section-{{ section.id }} .citi-icon{
            min-width: 50px;
            width: 50px;
            height: 50px;
            padding: 13px;
            border-radius: 50px;
        }
        {%- if section.settings.background_color == blank -%}
            #shopify-section-{{ section.id }} .text-container{
                padding-bottom: 60px;
            }
        {%- endif -%}

        {%- if section.settings.section_width == blank -%}
            #shopify-section-{{ section.id }} .text-container{
                padding-left: 40px;
                padding-right: 40px;
            }
        {%- endif -%}
    }
</style>

<section id="{{ section.id }}" class="cta-image-text">
    <div class="{{section.settings.section_width}}">
        <div class="flex flex-wrap align-flex flex-wrapper">
            <div class="image-container relative">
                {%assign image_id = "cta-image-text_" | append: section.id%}
                {%- render 'global-image-wrapper-responsive',
                    image_id: image_id,
                    desktop_image: section.settings.desktop_image,
                    mobile_image: section.settings.mobile_image
                %} 
                {%- if section.settings.tag != blank -%}
                    <p class="uppercase p5 mb-15 d-mb-10 text-tag pt-5 pb-5 pr-10 pl-10 mt-20 mr-20 d-mt-30 d-mr-25 bold-500">{{ section.settings.tag }}</p>
                {%- endif -%}   
            </div>
            <div class="text-container pt-40 pb-40 t-pt-40 t-pb-60 d-pt-60 d-pb-60 {{section.settings.text_align}}">
                {%if section.settings.small_title != blank%}
                <div class="p3 pb-10 d-pb-15 bold-600 spacing-2 c-darkgreen">{{section.settings.small_title}}</div>
                {%endif%}
                <div class="h3 pb-5 d-pb-10 c-black">{{section.settings.title}}</div>

                <div class="p2 pb-20 d-pb-25 c-grey text-desc">{{section.settings.text | newline_to_br}}</div>
                <div class="global-flex flex-wrap citi-it-con pb-25">
                {% for block in section.blocks %}
                    <div class="global-flex citi-it-item tl">
                        <span class="citi-icon" style="background-color: {{ block.settings.bg_color }};">{{ block.settings.icon }}</span>
                        <span class="p3 pl-10 t-pl-15">{{ block.settings.title }}</span>
                    </div>
                {% endfor %}
                </div>
                {%if section.settings.link_label != blank%}
                    {%- assign link_id = "link-cta" | append: section.id  -%}                                    
                    {% render 'link-icon',
                        id: link_id,
                        label: section.settings.link_label,
                        url: section.settings.link_url,
                        text_class: 'p3 uppercase c-black spacing-2 bold-600',
                        icon_color: '#6C6C6C',
                        icon_svg: settings.icon_btn_right,
                        load_inside_vue: false
                    %}
                {%endif%}
                
                {%if section.settings.button_label != blank%}
                    <a href="{{section.settings.button_url}}" class="btn1 with-icon content-button">
                        {{section.settings.button_label}}
                        <span class="icon">{{ settings.icon_btn_right }}</span>
                    </a>
                {%endif%}
            </div>
        </div>
    <div>
</section>

{% schema %}
    {
        "name": "Homepage Image Text Icons",
        "settings": [
        {
            "type": "radio",
            "id": "section_width",
            "label": "Section Width",
            "options": [
                {"value":"","label":"Full Width"},
                {"value":"container","label":"Contained"}
            ]
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Background Color"
        },
        {
            "type": "number",
            "id": "content_max_width",
            "label": "Content Max Width",
            "default": 500
        },
        {
            "type": "text",
            "id": "small_title",
            "label": "Small Title"
        },
        {
            "type": "textarea",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "radio",
            "id": "text_align",
            "label": "Text Align",
            "options": [
                {"value":"tc","label":"Center"},
                {"value":"tl","label":"Left"},
                {"value":"tr","label":"Right"}
            ]
        },
        {
            "type": "text",
            "id": "link_label",
            "label": "Link Label"
        },
        {
            "type": "url",
            "id": "link_url",
            "label": "Link URL"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "Button Label"
        },
        {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
        },
        {
            "type": "color",
            "id": "button_color",
            "label": "Button Text Color"
        },
        {
            "type": "color",
            "id": "button_background",
            "label": "Button Background Color"
        },
        {
            "type": "color",
            "id": "button_border",
            "label": "Button Border Color"
        },
        {
            "type": "color",
            "id": "button_color_hover",
            "label": "Button Text Color Hover"
        },
        {
            "type": "color",
            "id": "button_background_hover",
            "label": "Button Background Color Hover"
        },
        {
            "type": "color",
            "id": "button_border_hover",
            "label": "Button Border Color Hover"
        },
        {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "Desktop Image"
        },
        {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image"
        },
        {
            "type": "radio",
            "id": "image_position",
            "label": "Image Position (Desktop)",
            "options": [
                {"value":"row","label":"Left"},
                {"value":"row-reverse","label":"Right"}
            ]
        },
        {
            "type": "radio",
            "id": "image_position_mobile",
            "label": "Image Position (Mobile)",
            "options": [
                {"value":"image-first","label":"Image First"},
                {"value":"follow-desktop","label":"Follow Desktop Alignment"}
            ],
            "default": "follow-desktop"
        },
        {
            "type": "text",
            "id": "tag",
            "label": "Image Caption"
        },
        {
			"type": "header",
			"content": "Section Padding"
		},
		{
			"type": "text",
			"id": "top_padding_m",
			"label": "Top padding (Mobile)"
		},
		{
			"type": "text",
			"id": "bottom_padding_m",
			"label": "Bottom padding (Mobile)"
		},
		{
			"type": "text",
			"id": "top_padding_t",
			"label": "Top padding (Tablet)"
		},
		{
			"type": "text",
			"id": "bottom_padding_t",
			"label": "Bottom padding (Tablet)"
		},
		{
			"type": "text",
			"id": "top_padding",
			"label": "Top padding (Desktop)"
		},
		{
			"type": "text",
			"id": "bottom_padding",
			"label": "Bottom padding (Desktop)"
		}
        ],
        "blocks": [
            {
                "type": "entry",
                "name": "Entry",
                "settings": [
                    {
                        "type": "color",
                        "id": "bg_color",
                        "label": "Icon Background Color",
                        "default": "#F5F5F5"
                    },
                    {
                        "type": "textarea",
                        "id": "icon",
                        "label": "Icon"
                    },
                    {
                        "type": "textarea",
                        "id": "title",
                        "label": "Title"
                    }
                ]
            }
            ],
        "presets": [
        {
            "name": "Homepage Image Text Icons",
            "blocks": []
        }
        ]
    }
{% endschema %}