<style>
.text-icons-box {
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-direction: column;
	flex-direction: column;
}
.text-icons-box .items-list-box {
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	column-gap: 20px;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: wrap;
	min-height: 60px;
}
.text-icons-box .items-list-box .item-each {
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	column-gap: 20px;
}
.text-icons-box .items-list-box .item-each:first-child::before {
	content: none;
}
.text-icons-box .items-list-box .item-each::before {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #F7D8B6;
	position: absolute;
	left: 0;
	top: -10px;
}
.text-icons-box .items-list-box .item-each .icon {
	width: 50px;
	height: 50px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: flex-start;
	justify-content: flex-start;
	-ms-flex-align: center;
	align-items: center;
}
.text-icons-box .items-list-box .item-each .icon svg {
	width: 100%;
	height: 100%;
}
.text-icons-box .items-list-box .item-each .txt {
	width: calc(100% - 70px);
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: flex-start;
	justify-content: flex-start;
	-ms-flex-align: center;
	align-items: center;
}
@media screen and (min-width: 768px) {
	.text-icons-box .items-list-box .item-each {
		width: calc(25% - 15px);
	}
	.text-icons-box .items-list-box .item-each:first-child::before {
		content: none;
	}
	.text-icons-box .items-list-box .item-each::before {
		content: "";
		width: 1px;
		height: 60px;
		background-color: #F7D8B6;
		left: -10px;
		position: relative;
		top: 0;
	}
	.text-icons-box .items-list-box .item-each .icon {
		width: 50px;
		height: 50px;
	}
	.text-icons-box .items-list-box .item-each .txt {
		width: 200px;
	}
}
@media screen and (min-width: 1024px) {
	.text-icons-box .items-list-box .item-each .txt {
		width: 200px;
	}
}
</style>
{%- assign el_id = 'text-icons-' | append: section.id -%}
{%- render 'section-padding', el_id: el_id, section: section -%}
<div id="{{ el_id }}" class="relative" {% if section.settings.bg_color != blank %}style="background-color: {{ section.settings.bg_color }}"{% endif %}>
    <div class="container">
        <div class="text-icons-box">
            {% if section.settings.title != blank %}
            <h3 class="h3 tc c-greenb2">{{ section.settings.title }}</h3>
            {% endif %}
            <ul class="items-list-box">
                {% for block in section.blocks %}
                <li class="item-each mt-10 mb-10 relative">
                    <div class="icon">{{ block.settings.icon }}</div>
                    <div class="txt">
						<p class="p1">{{ block.settings.text }}</p>
					</div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% schema %}
{
	"name": "Icon With Text",
	"settings": [
		{
			"type": "header",
			"content": "Section Padding"
		},
		{
			"type": "number",
			"id": "top_padding_m",
			"label": "Top padding (Mobile)"
		},
		{
			"type": "text",
			"id": "bottom_padding_m",
			"label": "Bottom padding (Mobile)"
		},
		{
			"type": "number",
			"id": "top_padding_t",
			"label": "Top padding (Tablet)"
		},
		{
			"type": "number",
			"id": "bottom_padding_t",
			"label": "Bottom padding (Tablet)"
		},
		{
			"type": "number",
			"id": "top_padding",
			"label": "Top padding (Desktop)"
		},
		{
			"type": "number",
			"id": "bottom_padding",
			"label": "Bottom padding (Desktop)"
		},
		{
			"type": "color",
			"id": "bg_color",
			"label": "Background Color"
		},
		{
			"type": "textarea",
			"id": "title",
			"label": "Title"
		}
	],
	"blocks" : [
		{
			"type": "icon",
			"name": "Icon",
			"settings": [
                {
					"type": "text",
					"id": "text",
					"label": "Title"
				},
				{
					"type": "textarea",
					"id": "icon",
					"label": "Icon SVG"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Icon With Text",
			"blocks": []
		}
	]
}
{% endschema %}
