{% comment %} Calecim {% endcomment %}
<style>
    #shopify-section-{{ section.id }} .outer-wrapper .inner-wrapper {
        background-color: {{ section.settings.bg_color }};
    }
    #shopify-section-{{ section.id }} .rito-caption {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
    }
    #shopify-section-{{ section.id }} .rito-caption .container {
        width: 100%;
    }
    #shopify-section-{{ section.id }} .rito-caption .rito-container {
      width: 100%;
      {% if section.settings.text_max_width != blank %}
      max-width: {{ section.settings.text_max_width }}px;
      {% endif %}

      padding-top: {{ section.settings.top_padding_m }}px;
      padding-bottom: {{ section.settings.bottom_padding_m }}px;
    }
    #shopify-section-{{ section.id }} .rito-caption .rito-container.left {
        text-align: left;
        margin-right: auto;
    }
    #shopify-section-{{ section.id }} .rito-caption .rito-container.center {
        text-align: center;
        margin: 0 auto;
    }
    #shopify-section-{{ section.id }} .rito-caption .rito-container.right {
        text-align: left;
        margin-right: auto;
    }

    {%- if section.settings.mobile_layout == 'relative' and section.settings.image_mobile != blank -%}
        @media screen and (max-width: 767px) {
            #shopify-section-{{ section.id }} .rito-caption {
                position: relative;
                padding-top: 25px;
                padding-bottom: 25px;
            }
        }
    {%- endif -%}

    @media screen and (min-width: 768px) {
        #shopify-section-{{ section.id }} .rito-caption .rito-container {
            padding-top: {{ section.settings.top_padding_t }}px;
            padding-bottom: {{ section.settings.bottom_padding_t }}px;
        }
    }

    @media screen and (min-width: 1024px) {
        #shopify-section-{{ section.id }} .rito-caption .rito-container {
            padding-top: {{ section.settings.top_padding }}px;
            padding-bottom: {{ section.settings.bottom_padding }}px;
        }
    }

    {%- if section.settings.image_desktop == blank -%}
        #shopify-section-{{ section.id }} .rito-caption {
            position: relative;
        }
    {%- endif -%}

    {%- if section.settings.width == 'container-mobile' -%}
        #shopify-section-{{ section.id }} .outer-wrapper {
            padding-left: 20px;
            padding-right: 20px;
        }

        @media screen and (min-width: 768px) {
            #shopify-section-{{ section.id }} .outer-wrapper {
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        @media screen and (min-width: 1024px) {
            #shopify-section-{{ section.id }} .outer-wrapper {
                padding-left: 0;
                padding-right: 0;
            }
        }
    {%- endif -%}
</style>
<section id="{{ section.id }}">
	<div class="outer-wrapper overflow {{ section.settings.width }}">
        <div class="inner-wrapper relative">
            {%assign id = "image-banner-" | append: section.id%}
            {%- if section.settings.image_desktop != blank -%}
                {%- render
                    'global-image-wrapper-responsive',
                    desktop_image:section.settings.image_desktop,
                    mobile_image:section.settings.image_mobile,
                    image_id:id
                -%}
            {%- endif -%}
            {%- if section.settings.video != blank -%}
                {%- render
                    'global-video-wrapper-responsive',
                    desktop_image: section.settings.image_desktop,
                    mobile_image: section.settings.image_mobile,
                    desktop_video_url: section.settings.video,
                    mobile_video_url: section.settings.video,
                    video_id: id
                -%}
            {%- endif -%}

            <div class="rito-caption">
                <div class="container">
                    <div class="rito-container {{ section.settings.text_align }}">
                        <{{section.settings.title_dom_type}} class="title {{section.settings.title_size}}">{{section.settings.title}}</{{section.settings.title_dom_type}}>
                        
                        {%if section.settings.text != blank%}
                            <p class="{{ section.settings.text_size }} d-mt-10 mt-5 {% if section.settings.hide_text_mobile %} hide-m show-t {% endif %}">{{section.settings.text}}</p>
                        {%endif%}

                        {%- if section.settings.link_label != blank or section.settings.button_label_1 != blank -%}
                            <div class="rito-btn mt-20">
                                {%- if section.settings.link_label != blank -%}
                                    <div class="link-wrapper show-m-inline-block link2 {% if section.settings.text_align == 'center' %}mr-10 ml-10{% else %}mr-15 d-mr-20{% endif %}">
                                        {%- assign link_id = "link-cta" | append: section.id  -%}                                    
                                        {% render 'link-icon',
                                            id: link_id,
                                            label: section.settings.link_label,
                                            url: section.settings.link_url,
                                            text_class: 'p2 mr-10',
                                            icon_color: '#231D1D',
                                            icon_svg: settings.icon_arrow_diagonal_up,
                                            load_inside_vue: false
                                        %}
                                    </div>
                                {%- endif -%}

                                {%- if section.settings.link_label_2 != blank -%}
                                    <div class="link-wrapper show-m-inline-block link2 {% if section.settings.text_align == 'center' %}mr-10 ml-10{% else %}mr-15 d-mr-20{% endif %}">
                                        {%- assign link_id = "link-cta-2" | append: section.id  -%}                                    
                                        {% render 'link-icon',
                                            id: link_id,
                                            label: section.settings.link_label_2,
                                            url: section.settings.link_url_2,
                                            text_class: 'p2 mr-10',
                                            icon_color: '#231D1D',
                                            icon_svg: settings.icon_arrow_diagonal_up,
                                            load_inside_vue: false
                                        %}
                                    </div>
                                {%- endif -%}

                                {%if section.settings.button_label_1 != blank%}
                                    <a href="{{section.settings.button_url_1}}" class="btn2 with-icon t-mt-5 {% if section.settings.text_align == 'center' %}mr-5 d-mr-10{% else %}mr-5 d-mr-20{% endif %}">{{section.settings.button_label_1}} <span class="ml-30 icon" style="display:inline-flex;">{{settings.icon_btn_right}}</span></a>
                                {%endif%}

                                {%if section.settings.button_label_2 != blank%}
                                    <a href="{{section.settings.button_url_2}}" class="btn1 with-icon t-mt-5 {% if section.settings.text_align == 'center' %}ml-5 ml-10{% endif %}">{{section.settings.button_label_2}} <span class="ml-30 icon" style="display:inline-flex;">{{settings.icon_btn_right}}</span></a>
                                {%endif%}
                            </div>
                        {%- endif -%} 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
{ 
	"name": "Image With Text Overlay",
	"settings": [
    {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
    },
    {
      "type":"select",
      "id":"width",
      "label":"Section Width",
      "options":[
          {"value":"full-width","label":"Full Width"},
          {"value":"container","label":"Contained"},
          {"value":"container-mobile","label":"Contained (mobile/tablet only)"}
      ],
      "default": "full-width"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type":"select",
      "id":"title_size",
      "label":"Title Size",
      "options":[
          {"value":"h1","label":"H1"},
          {"value":"h2","label":"H2"},
          {"value":"h3","label":"H3"},
          {"value":"h4","label":"H4"},
          {"value":"h5","label":"H5"},
          {"value":"h6","label":"H6"},
          {"value":"h7","label":"H7"}
      ]
    },
    {
      "type":"select",
      "id":"title_dom_type",
      "label":"Title Dom Type",
      "options":[
          {"value":"h1","label":"H1"},
          {"value":"h2","label":"H2"},
          {"value":"h3","label":"H3"}
      ]
    },
    {
        "type": "textarea",
        "id": "text",
        "label": "Text"
    },
    {
      "type":"select",
      "id":"text_size",
      "label":"Text Size",
      "options":[
          {"value":"p1","label":"p1"},
          {"value":"p2","label":"p2"},
          {"value":"p3","label":"p3"}
      ],
      "default": "p1"
    },
    {
        "type": "checkbox",
        "id": "hide_text_mobile",
        "label": "Hide Text On Mobile"
    },
    {
        "type": "text",
        "id": "text_max_width",
        "label": "Text Max Width",
        "info": "in pixel"
    },
    {
        "type": "text",
        "id": "link_label",
        "label": "Link Label #1"
    },
    {
        "type": "url",
        "id": "link_url",
        "label": "Link URL #1"
    },
    {
        "type": "text",
        "id": "link_label_2",
        "label": "Link Label #2"
    },
    {
        "type": "url",
        "id": "link_url_2",
        "label": "Link URL #2"
    },
    {
        "type": "text",
        "id": "button_label_1",
        "label": "Button Label #1"
    },
    {
        "type": "url",
        "id": "button_url_1",
        "label": "Button URL #1"
    },
    {
        "type": "text",
        "id": "button_label_2",
        "label": "Button Label #2"
    },
    {
        "type": "url",
        "id": "button_url_2",
        "label": "Button URL #2"
    },
    {
        "type":"select",
        "id":"text_align",
        "label":"Text Position",
        "options":[
            {"value":"left","label":"Left"},
            {"value":"center","label":"Center"},
            {"value":"right","label":"Right"}
        ]
    },
    {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Desktop Image"
    },
    {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image Mobile"
    },
    {
        "type": "video",
        "id": "video",
        "label": "Video"
    },
    {
        "type":"select",
        "id":"mobile_layout",
        "label":"Mobile Layout",
        "options":[
            {"value":"overlay","label":"Text Overlay"},
            {"value":"relative","label":"Text On The Bottom"}
        ],
        "default": "overlay"
    },
    {
        "type": "header",
        "content": "Content Padding"
    },
    {
        "type": "text",
        "id": "top_padding_m",
        "label": "Top padding (Mobile)"
    },
    {
        "type": "text",
        "id": "bottom_padding_m",
        "label": "Bottom padding (Mobile)"
    },
    {
        "type": "text",
        "id": "top_padding_t",
        "label": "Top padding (Tablet)"
    },
    {
        "type": "text",
        "id": "bottom_padding_t",
        "label": "Bottom padding (Tablet)"
    },
    {
        "type": "text",
        "id": "top_padding",
        "label": "Top padding (Desktop)"
    },
    {
        "type": "text",
        "id": "bottom_padding",
        "label": "Bottom padding (Desktop)"
    }
	],
	"presets": [
        {
        "name": "Image With Text Overlay",
        "blocks": []
        }
	]
}
{% endschema %}