{%- assign el_id = 'static-banner-' | append: section.id -%}
{%- assign title_id = 'static-banner-title-' | append: section.id -%}
{%- assign subtitle_id = 'static-banner-subtitle-' | append: section.id -%}
{%- assign text_id = 'static-banner-text-' | append: section.id -%}
{%- assign btn_id = 'static-banner-btn-' | append: section.id -%}
{%- render 'section-padding', el_id: el_id, section: section -%}
{%- render 'static-banner-margin', el_id: title_id, type: 'title', section: section -%}
{%- render 'static-banner-margin', el_id: subtitle_id, type: 'subtitle', section: section -%}
{%- render 'static-banner-margin', el_id: text_id, type: 'text', section: section -%}
{%- render 'static-banner-margin', el_id: btn_id, type: 'btn', section: section -%}
<div id="{{ el_id }}" class="w-full relative">
	<div class="w-full static-banner relative">
		{% if section.settings.overlay %}<div class="overlay">&nbsp;</div>{% endif %}
		{%- assign image_id = "image-static" | append: section.id -%}
		{%- render 'global-image-wrapper-responsive',
			image_id: image_id,
			desktop_image: section.settings.image,
			mobile_image: section.settings.image_mobile
		%}
		<div class="container">
			{% if section.settings.btn_position == 'bottom' %}
				<div class="w-full inner row">
					<div class="col-12 col-t-6">
						{%- if section.settings.title != blank -%}
							<h3 id="{{ title_id }}" class="h3 c-white">{{ section.settings.title }}</h3>
						{%- endif -%}
						{%- if section.settings.subtitle != blank -%}
							<h5 id="{{ subtitle_id }}" class="h5 c-white">{{ section.settings.subtitle }}</h5>
						{%- endif -%}
						{%- if section.settings.text -%}
							<p id="{{ text_id }}" class="p1 c-white">{{ section.settings.text }}</p>
						{%- endif -%}
						{%- if section.settings.btn_label != blank and section.settings.btn_url != blank-%}
							<div id="{{ btn_id }}">
								<a href="{{ section.settings.btn_url }}" class="btn1" title="{{ section.settings.btn_label }}">{{ section.settings.btn_label }}</a>
							</div>
						{%- endif -%}
					</div>
				</div>
			{% else %}
				<div class="inner">
					<div class="ctn-box">
						<div class="left">
							{%- if section.settings.title != blank -%}
								<h2 id="{{ title_id }}" class="h2 bold-700 c-white">{{ section.settings.title }}</h2>
							{%- endif -%}
							{%- if section.settings.subtitle != blank -%}
								<h3 id="{{ subtitle_id }}" class="h5 bold-700 c-white">{{ section.settings.subtitle }}</h3>
							{%- endif -%}
							{%- if section.settings.text -%}
								<p id="{{ text_id }}" class="p1 bold-400 c-white">{{ section.settings.text }}</p>
							{%- endif -%}
						</div>
						<div class="right">
							{%- if section.settings.btn_label != blank and section.settings.btn_url != blank-%}
							<div id="{{ btn_id }}">
								<a href="{{ section.settings.btn_url }}" class="btn1" title="{{ section.settings.btn_label }}">{{ section.settings.btn_label }}</a>
							</div>
							{%- endif -%}
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% schema %}
{
	"name": "Static Banner",
	"settings": [
		{
			"type": "header",
			"content": "Section Padding"
		},
		{
			"type": "text",
			"id": "top_padding_m",
			"label": "Top padding (Mobile)"
		},
		{
			"type": "text",
			"id": "bottom_padding_m",
			"label": "Bottom padding (Mobile)"
		},
		{
			"type": "text",
			"id": "top_padding_t",
			"label": "Top padding (Tablet)"
		},
		{
			"type": "text",
			"id": "bottom_padding_t",
			"label": "Bottom padding (Tablet)"
		},
		{
			"type": "text",
			"id": "top_padding",
			"label": "Top padding (Desktop)"
		},
		{
			"type": "text",
			"id": "bottom_padding",
			"label": "Bottom padding (Desktop)"
		},
		{
			"type": "header",
			"content": "Banner Settings"
		},
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image for Desktop"
        },
        {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image for Mobile"
        },
        {
            "type": "checkbox",
            "id": "overlay",
            "label": "Enable Overlay",
            "default": false
        },
        {
			"type": "header",
			"content": "Title"
		},
        {
            "type" : "textarea",
            "id" : "title",
            "label" : "Title"
        },
		{
			"type": "number",
			"id": "title_top_margin_m",
			"label": "Title Top margin (Mobile)",
            "default": 0
		},
		{
			"type": "number",
			"id": "title_bottom_margin_m",
			"label": "Title Bottom margin (Mobile)",
            "default": 0
		},
		{
			"type": "number",
			"id": "title_top_margin_t",
			"label": "Title Top margin (Tablet)",
            "default": 0
		},
		{
			"type": "number",
			"id": "title_bottom_margin_t",
			"label": "Title Bottom margin (Tablet)",
            "default": 0
		},
		{
			"type": "number",
			"id": "title_top_margin",
			"label": "Title Top margin (Desktop)",
            "default": 0
		},
		{
			"type": "number",
			"id": "title_bottom_margin",
			"label": "Title Bottom margin (Desktop)",
            "default": 0
		},
        {
			"type": "header",
			"content": "Subtitle"
		},
        {
            "type" : "textarea",
            "id" : "subtitle",
            "label" : "Subtitle"
        },
        {
			"type": "number",
			"id": "subtitle_top_margin_m",
			"label": "Subtitle Top margin (Mobile)",
            "default": 0
		},
		{
			"type": "number",
			"id": "subtitle_bottom_margin_m",
			"label": "Subtitle Bottom margin (Mobile)",
            "default": 0
		},
		{
			"type": "number",
			"id": "subtitle_top_margin_t",
			"label": "Subtitle Top margin (Tablet)",
            "default": 0
		},
		{
			"type": "number",
			"id": "subtitle_bottom_margin_t",
			"label": "Subtitle Bottom margin (Tablet)",
            "default": 0
		},
		{
			"type": "number",
			"id": "subtitle_top_margin",
			"label": "Subtitle Top margin (Desktop)",
            "default": 0
		},
		{
			"type": "number",
			"id": "subtitle_bottom_margin",
			"label": "Subtitle Bottom margin (Desktop)",
            "default": 0
		},
        {
			"type": "header",
			"content": "Text"
		},
        {
            "type" : "textarea",
            "id" : "text",
            "label" : "Text"
        },
        {
			"type": "number",
			"id": "text_top_margin_m",
			"label": "Text Top margin (Mobile)",
            "default": 0
		},
		{
			"type": "number",
			"id": "text_bottom_margin_m",
			"label": "Title Bottom margin (Mobile)",
            "default": 0
		},
		{
			"type": "number",
			"id": "text_top_margin_t",
			"label": "Text Top margin (Tablet)",
            "default": 0
		},
		{
			"type": "number",
			"id": "text_bottom_margin_t",
			"label": "Text Bottom margin (Tablet)",
            "default": 0
		},
		{
			"type": "number",
			"id": "text_top_margin",
			"label": "Text Top margin (Desktop)",
            "default": 0
		},
		{
			"type": "number",
			"id": "text_bottom_margin",
			"label": "Text Bottom margin (Desktop)",
            "default": 0
		},
        {
			"type": "header",
			"content": "Button"
		},
        {
            "type" : "text",
            "id" : "btn_label",
            "label" : "Button label"
        },
        {
            "type" : "url",
            "id" : "btn_url",
            "label" : "Button URL"
        },
        {
			"type": "number",
			"id": "btn_top_margin_m",
			"label": "Button Top margin (Mobile)",
            "default": 0
		},
		{
			"type": "number",
			"id": "btn_bottom_margin_m",
			"label": "Button Bottom margin (Mobile)",
            "default": 0
		},
		{
			"type": "number",
			"id": "btn_top_margin_t",
			"label": "Button Top margin (Tablet)",
            "default": 0
		},
		{
			"type": "number",
			"id": "btn_bottom_margin_t",
			"label": "Button Bottom margin (Tablet)",
            "default": 0
		},
		{
			"type": "number",
			"id": "btn_top_margin",
			"label": "Button Top margin (Desktop)",
            "default": 0
		},
		{
			"type": "number",
			"id": "btn_bottom_margin",
			"label": "Button Bottom margin (Desktop)",
            "default": 0
		},
        {
            "type":"radio",
            "id":"btn_position",
            "label":"Button Position",
            "options":[
                {"value":"bottom","label":"Bottom of text"},
                {"value":"right","label":"Right of text"}
            ],
            "default": "bottom"
        }
	],
	"presets": [
		{
			"name": "Static Banner",
			"blocks": []
		}
	]
}
{% endschema %}
